<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pokédex de <%= treinador.nome %></title>
</head>
<body>
    <h1>Pokédex de <%= treinador.nome %></h1>

    <% if (pokemons.length === 0) { %>
        <p>A Pokédex está vazia. Adicione Pokémon a este treinador!</p>
    <% } else { %>
        <ul>
            <% pokemons.forEach(function(pokemon) { %>
                <li><%= pokemon.nome %> - <%= pokemon.tipo %></li>
            <% }); %>
        </ul>
    <% } %>

    <a href="/treinadores">Voltar à lista de treinadores</a>
    <br>
    <a href="/treinadores/<%= treinador.id %>/addPokemon">Adicionar Pokémon</a>
</body>
</html>